<!-- <div class="card">
    <div class="card-body border-bottom" *ngFor="let post of posts">
        <h5 class="card-title"> {{ post.title }}</h5>
        <p class="mb-0"> {{ post.content }}</p>
    </div> 
</div> -->
<div class="card">
    <div *ngIf="posts.length > 0">
    <div class="card-body border-bottom" *ngFor="let post of posts">
        <h5 class="card-title"> {{ post.title }}</h5>
        <p class="mb-0"> {{ post.content }}</p>
    </div> 
</div>
<p *ngIf="posts.length <=0" class="p-1 mb-0"> No posts added.</p>
</div>